@import '../../sassStyles/variables';

.home-container {
    position: absolute;
    width: calc(100% - $navbar-width);
    left: $navbar-width;
}

.home-title {
    font-family: 'Allura', sans-serif;
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
    // color: $primary-color;
}
