@import '../../sassStyles/variables';

.nav__item {
    width: $list-items-width;
    background-color: $light-gray;
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;
    padding-left: 2rem;

    &-left-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-text-container {
        margin-top: 1.5rem;
    }

    &-title-container {
        width: 80%;
        border-bottom: 3px solid $primary-color;
        margin-bottom: 1.5rem;
        text-align: left;
    }

    &-title {
        font-family: 'Montserrat', 'Lato', sans-serif;
        font-weight: 600;
        font-size: $list-items-font-size;
        line-height: 1rem;
        letter-spacing: 0.2rem;
        margin-bottom: 2rem;
    }

    &-button-container {
        margin-bottom: 2rem;
        text-align: left;
    }

    &-image {
        width: 100%;
        max-width: $img-width;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
    }

    &-details {
    text-align: left;
    line-height: 3rem;

        p {
            color: $dark-gray;
            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
        }
    }
}