@import '../../sassStyles/variables';

.nav {
    margin-top: 4rem;
    width: 100%;
    color: $dark-gray;
    padding-left: 0;
    text-align: center;

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // &__images {
    //     list-style: none;
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    &__title {
        font-family: 'Allura', sans-serif;
        font-size: 10rem;
    }
}

