@import '../../sassStyles/variables';

.header__container {
    max-height: $header-height;
    width: 100%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: $primary-color;
}

.header__image {
    width: 100%;
    max-height: $header-height;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}


