@import '../../sassStyles/variables';

.header__container {
    height: $header-height;
    width: 100%;
}

.header__image {
    width: 100%;
    max-height: $header-height;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}


