@import '../../sassStyles/variables';

.footer {
    width: 100%;
    height: $footer-height;
    background-color: $primary-color;
    position: relative;
    box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);

    &__logo-container {
        margin-bottom: 4rem;
    }

    &__logo {
        font-family: 'Belleza';
        color: #fff;
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1rem;
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__section-container {
        position: absolute;
        top: 40%;
        left: 3rem;
    }

    &__section-links {
        display: flex;
        gap: 15rem;
    }

    &__section-double {
        margin-top: 1.6rem;  
    }

    &__section-title {
        color: #f1997e;
        font-size: 3rem;
        font-family: "Montserrat", "sans-serif";
        letter-spacing: 0.2rem;
    }
}

.footer-item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    &__title {
        color: #fff;
        font-family: "Montserrat", "sans-serid";
        font-weight: 400;
        font-size: 1.8rem;
        margin-left: 1rem;
    }
}