//Colors
$primary-color: #15a246;
$dark-gray: #11101d;
$white: #fff;
$light-white: #f2f2ee;

//Sizes
$navbar-width: 24rem;
$header-height: 45rem;

$list-items-width: 25rem;
$list-items-height: 15rem;
$list-items-margin: 6rem;
$list-items-font-size: 1.8rem;
$list-items-line-height: 2rem;
$img-height: 25rem;
$img-width: 30rem;